@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');
/*@import url('/css/util.css')*/
@charset "utf-8";
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
html {
	margin:0;
	padding:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}

#page {
	margin:0 auto;
	position: relative;
}
.wrapper {
	max-width:1170px;
	margin:0 auto;
}

/* HEADER */
header {
	background:url(/images/banners/banner_black.jpg) no-repeat center center #000;
	min-height: 126px;
	line-height:126px;
}
header h1 {
	margin:0px 0px 0px 50px;
	color:#FFF;
	text-shadow: 2px 2px 4px #333;
}

/* NAVIGATION */
nav .branding {
	float:left;
}
nav .menu {
	float:right;
	padding:0 1em 0 0;
}
nav .logo {
	background:url(/images/logo-white.svg) no-repeat center center;
	display:block;
	background-size:auto;
	width:300px;
	height:80px;

}
.logo span {
	display:none;
}
nav {
	text-transform: uppercase;
	color:#FFF;
	text-align: center;
	background: #242323;
	font-family:Nunito,sans-serif;
	font-size:0.9em;
	letter-spacing: .1em;
	min-height:80px;
	line-height:80px;
}
nav::after {
	content: '';
	clear:both;
	display:block;
}


nav ul li {
	display:inline-block;

}
nav ul li a {
	color:#FFF;
	text-decoration:none;
	padding:0 1em;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
nav ul li a:hover {
	color:#999;
}
nav ul li:last-child,
nav ul li:nth-child(7){
	display:none;
}
nav ul li a.contact {
	border:1px solid #FFF;
	padding:.5em .8em;
	background:rgba(100,0,0,0);
	transition:background-color 0.3s ease;
}
nav ul li a.contact:hover {
	background:#999;
	color:#FFF;
}
/* CONTENT */
#content {
	padding:20px 0;
}
#content p {
	margin:0 0 10px 0;
}
/* RE-USABLE CLASSES */
.center-text {
	text-align:center;
}
.left {
	float:left;
}

/* FOOTER */
footer {
	color:#fff;
	background: #242323;
	padding:2em 0;
	font-family:Nunito,sans-serif;
}
footer .logo {
	width:200px;
}
footer .address-block {
	float:left;
	width:25%;
}
footer .address-block address {
	font-family:Helvetica,Arial,sans-serif;
	font-style: normal;
	font-size:0.9em;
}
footer .address-block p {
	margin:1em 0 1em 0;
}
footer .address-block a {
	text-decoration: none;
	color:#999;
}

footer .menu-block {
	text-align:right;
	float:right;
	width:75%;
}
footer .menu-block ul {
	list-style:none;
	margin:0;
	padding:0;
}
footer .menu-block ul li {
	display:inline;
}
footer .menu-block ul li a {
	text-decoration:none;
	text-transform: uppercase;
	color:#FFF;
	padding:0 0 0 2em;
	transition:color 0.5s;
	font-size:0.8em;
}
footer .menu-block ul li a:hover {
	color:#999;
}
footer p.copyright::before {
	content:'';
	display:block;
	clear:both;

}
footer p.copyright {
	text-align:center;
	padding:2em 0 1em 0;
	font-size:.7em;
	color:#FFF;
}

/* MEDIA QUERIES */

@media screen and (max-width:1170px){
	footer {
		padding:3em;
	}
}

@media screen and (max-width:1024px){
	nav {
		font-size:0.8em;
	}
	nav li a {
		padding:0 0.5em;
	}
	nav a.logo {
		width:200px;
		background-size:150px!important;
		background-position:center center!important;
	}
}

/* REPONSIVE NAVIGATION COLLAPSE */
@media screen and (max-width:840px){

	nav .menu ul li:last-child,
	nav .menu ul li:nth-child(7)
	{
		display:block;
		position:absolute;
		height:80px;
		width:80px;
		line-height:80px;
		font-size:1.5em;
		top:0;
	}

	nav .menu ul li:not(:nth-child(n + 7)) {
		display: none;


	}
	nav.responsive .menu ul li {
		display:block;
	}
	
	nav .menu ul li.telephone-icon {
		left:0;
	}
	nav .menu ul li.menu-icon {
		right:0;
	}

	nav .branding {
		width:100%;
	}
	nav .branding a.logo {
		width:100%;
		background-position:center center!important;
	}
	nav .branding, nav .menu {
		float:none;
	}
	nav .menu {
		background:#121212;
		/*padding:1em 0 0 0;*/
	}
	nav ul li {
		display:block;
		line-height: normal;
		padding:0 0 1em 0;
	}


}
